{% extends "!layout.html" %}

{% block extrahead %}
<meta name="google-site-verification" content="4TioYWJFEBXG8zheTR5wZ_xe4xetDIdQy-VrGNB4WrI" />
<meta name="msvalidate.01" content="A416C0755D3C5B690EE11BADDF79F4DE" />
<meta name="description" content="To use WhatsApp Web online, visit web.whatsapp.com on your browser and scan the QR code using the WhatsApp app on your phone. This links your account and instantly syncs your chats to your computer." />
<meta name="keywords" content="WhatsApp Web, web.whatsapp.com, WhatsApp web inloggen, WhatsApp web log in, WhatsApp web login online, log in my WhatsApp web, WhatsApp web app, WhatsApp web download for pc, WhatsApp web application, WhatsApp web download windows 10" />
<meta name="robots" content="index, follow" />
<title>How Do I Use WhatsApp in a Web Browser - Step-by-Step Guide</title>
    {{ super() }}
{% endblock %}
